<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width"/>
    <title></title>
    <link rel="stylesheet" th:href="@{/global-styles.css}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> <!-- Bootstrap CSS -->
</head>
<body>
<div th:replace="fragments :: page-header"></div>
<section id="page" class="container-md">
    <h1>User Management Portal</h1>
    <a th:href="@{/admin/user_management/create_user}" class="btn btn-primary create">Create New User</a>
        <table class="table table-striped table-content">
            <thead>
            <tr>
                <th>UserId</th>
                <th>Username</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Role</th>
                <th>Email</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.username}"></td>
                <td th:text="${user.firstname}"></td>
                <td th:text="${user.lastname}"></td>
                <td th:text="${user.role}"></td>
                <td th:text="${user.email}"></td>
                <td>
                    <a th:href="@{/users/edit/{userId}(userId=${user.id})}" class="btn btn-primary">Edit</a>
                </td>
                <td>
                    <a th:href="@{/users/delete/{userId}(userId=${user.id})}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
</section>
</body>
</html>