<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit User</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="bg-dark text-white" style="font-family: 'Roboto Mono', monospace;">
<header class="container-md header-section" style="padding-top:0.5rem; padding-bottom:0.5rem;">
    <ul class="list" style="list-style:none; display:flex; justify-content:space-between; padding:0; margin: 0;">
        <li class="list-item">
            <a th:href="@{/part}">Back</a>
        </li>
    </ul>
</header>
<div class="container">
    <h1>Edit Parts By Lot Number</h1>
    <form th:action="@{/part/edit/lot}" method="post"
          th:object="${part}">

        <div class="form-group">
            <label for="partName">Part Name</label>
            <input type="text" class="form-control" id="partName" th:field="*{partName}" minlength="3">
        </div>
        <br>
        <div class="form-group">
            <label for="lotNum">Select Lot Number:</label>
            <select class="form-select" th:field="*{lot}" id="lotNum" required>
                <option th:each="lotNumber : ${lotNumbers}"
                        th:value="${lotNumber}"
                        th:text="${lotNumber}"></option>
            </select>
        </div>
        <br>
        <div class="form-group">
            <label for="productName">Select Product:</label>
            <select class="form-select" th:field="*{product}" id="productName" required>
                <option th:each="product : ${products}"
                        th:value="${product.productId}"
                        th:text="${product.productName}"></option>
            </select>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Update</button>
        <a type="button" th:href="@{/part}" class="btn btn-light">Cancel</a>
    </form>
</div>

</body>
</html>