<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{dashboard-styles.css}" />
    <title th:text="${title}">Document</title> <!-- Dynamic title -->
</head>
<body>
<div th:replace="fragments/wm-header :: headerFragment"></div>
<section id='page' class="container">
    <h1 th:text="${user[2]} + ' Dashboard'"></h1> <!-- Dynamic heading -->
    <div id="dashboard" class="row">
        <div th:each="page : ${pages}" class="col-sm">
            <h2 th:text="${page}"></h2>
            <button th:text="Enter"></button>
        </div>
    </div>
</section>
<span class="test">test</span>
</body>
</html>