<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width"/>
    <title></title>
    <link rel="stylesheet" th:href="@{/global-styles.css}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body class="bg-dark text-white" style="font-family: 'Roboto Mono', monospace; height: 100vh; display: flex; align-items: center; justify-content: center;">
    <section class="container">
        <div class="option-container" style="text-align:center;">
            <p>You are not authorized to access this part of the application.</p>
            <div class="button-holder">
                <button type="button" onclick="history.back()" class="btn btn-primary" style="margin-top:1rem">Go Back</button>
                <a href="/logout"><button type="button" class="btn btn-primary" style="margin-top:1rem">Log Out</button></a>
            </div>
        </div>
    </section>
</body>
</html>